.free-confirm-box {
    width: 400px !important;
}
.free-confirm-title {
    font-weight: 500;
    height: 24px;
    line-height: 24px;
}
.free-confirm-title .icon {
    color: #666;
    font-style: normal;
    margin-right: 5px;
}
.free-confirm-title .icon:before {
    content: "\E61b";
    font-family: 'iconfont';
    font-size: 18px;
    vertical-align: middle;
}
.free-confirm-content {
    font-size: 13px;
}

.free-confirm-btns button {
    width: 60px;
    height: 30px;
    cursor: pointer;
    font-size: 13px;
}

.free-confirm-ok {
    background: #108ee9;
    border: 1px solid #108ee9;
    color: #fff;
    border-radius: 3px;
}
.free-confirm-ok:hover {
    color: #fff;
    background-color: #49a9ee;
    border-color: #49a9ee;
}
.free-confirm-cancel {
    margin-right: 20px;
    border: 0;
    color: #999;
    background: #fff;
}
.free-confirm-cancel:hover {
    color: #108ee9;
}
